# Timezone, example Europe/Moscow, default UTC
APP_TIMEZONE=UTC
APP_RABBITMQ_CONSUMER_QUEUE_NAME=<queue name>
APP_RABBITMQ_CONSUMERS_COUNT=1
APP_LOGS_EXCLUDE_RULES=[]

# Example: 192.168.0.1:5601,192.168.0.2
ES_HOSTS=<hosts, using ',' for cluster hosts separate>
ES_NUM_WORKERS=<default 2>
ES_FLUSH_SIZE=<default 2048 - KB>
ES_FLUSH_INTERVAL=<default 5>

# RabbitMQ AMQP configuration
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=<default '/'>

# GOMAXPROCS=<max processors>